/* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
  /* width: 100%; */
  /* Optional */
  text-align: right;
  background: white;
}

/* Hide Hamburger */
#hamnav label,
#hamburger {
  display: none;
}

/* Horizontal Menu Items */
#hamitems {
  color: #565654;
}

#hamitems a {
  padding: 10px;
  color: #333333;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 769px) {
  #hamnav {
    padding-top: 3em;
    padding-right: 2em;
  }

  #hamitems {
    font-size: smaller;
  }
}

@media screen and (max-width: 768px) {
  #hamnav {
    position: sticky;
    top: 0;
  }
  /* Show Hamburger Icon */
  #hamnav label {
    display: inline-block;
    color: #333333;
    font-style: normal;
    padding: 10px;
    max-width: 100%;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: smaller;
  }

  /* Toggle Show/Hide Menu */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    background: white;
    display: block;
  }
}
